<%= form_for(@demo) do |f| %>
  <% if @demo.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@demo.errors.count, "error") %> prohibited this demo from being saved:</h2>

      <ul>
      <% @demo.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :description %><br />
    <%= f.text_area :description %>
  </div>
  <div class="field">
    <%= f.label :keywords %><br />
    <%= f.text_area :keywords %>
  </div>
  <div class="field">
    <%= f.label :avg_user_rating %><br />
    <%= f.text_field :avg_user_rating %>
  </div>
  <div class="field">
    <%= f.label :misc %><br />
    <%= f.text_area :misc %>
  </div>
  <div class="field">
    <%= collection_select(:demo, :booth_id, Booth.all, :id, :number) %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
