<h1>Listing userratings</h1>

<table>
  <tr>
    <th>Name</th>
    <th>Demo</th>
    <th>Rating</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @userratings.each do |userrating| %>
  <tr>
    <td><%= userrating.name %></td>
    <td><%= userrating.demo %></td>
    <td><%= userrating.rating %></td>
    <td><%= link_to 'Show', userrating %></td>
    <td><%= link_to 'Edit', edit_userrating_path(userrating) %></td>
    <td><%= link_to 'Destroy', userrating, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Userrating', new_userrating_path %>
